.main-calendar{
    padding: 30px;
    width: 83vw;
    height: 100vh;
    /* background-color: #082032;
    color: white; */
}
.rbc-agenda-event-cell, .rbc-agenda-time-cell, .rbc-agenda-date-cell{
    background-color: white;
}
.rbc-toolbar-label{
    font-weight: bold;
    font-size: 25px;
}