.main-calendar{
    padding: 30px;
    width: 83vw;
    height: 100vh;
    background-color: #082032;
    color: #CCCCCC;
}

/* Style of the name of the month */
.rbc-toolbar-label{
    font-weight: bold;
    font-size: 25px;
    color: white;
}

/* Color of top button */
.rbc-toolbar button{
    color: #CCCCCC;
    border-color: #CCCCCC;
}
.rbc-active{
    color: black !important;
}

/* Border color of calendar */
.rbc-month-view, .rbc-month-row, .rbc-day-bg, .rbc-month-header, .rbc-row, .rbc-header, 
.rbc-time-slot, .rbc-timeslot-group, .rbc-time-view{
    border-color: gray !important;
}

/* Background color of events */
.rbc-event{
    background-color: #345B63;
    color: #CCCCCC;
}

/* Background color of agenda */
.rbc-agenda-event-cell, .rbc-agenda-time-cell, .rbc-agenda-date-cell{
    background-color: #082032;
}

/* Background color of date from other months */
.rbc-off-range-bg{
    background-color: #2a2a2a;
}

/* Color of today */
.rbc-today{
    background-color: #FF4C29;
}
.rbc-now{
    color: black;
}

