/* 
Icon pack
https://www.flaticon.com/packs/programming-33
https://www.flaticon.com/packs/presentations-10?word=training
*/
.task-main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #082032;
  padding: 50px;
  color: white;
}

.tasks:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

h1 {
  margin: 10px 0;
  font-size: 28px;
}

.tasks {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.tasks:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

.tasks:hover .title {
  color: black;
}

.tasks:hover p {
  color: rgb(84, 84, 84);
}

.tasks img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 20px;
  object-fit: contain;
}

.title {
  margin: 0;
  font-size: 24px;
  color: white;
}

p {
  margin: 5px 0;
  font-size: 16px;
  color: #CCCC;
}

.all-tasks {
  /* display: flex; */
  justify-content: space-between;
}

.task-section {
  flex: 1;
  margin: 0 10px;
}
