
.Alltasks {
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.5s, transform 0.4s;
    background-color: rgb(255, 255, 255);
  }
  
  .Alltasks:hover {
    transform: scale(1.05);
    /* background-color: black; */
    color: white;
  }
  .datadisplay, .datadisplay p span {
    color: #212529;
  }
  /* .datadisplay:hover, .datadisplay p span:hover {
    color: white;
    transform: scale(1.05);
  } */
  
  .AddButton {
    font-size: 25px;
    display: inline-block;
    color: white;
    border: none;
    position: fixed;
    right: 15px;
    bottom: 15px;
    animation: breathing 1s infinite alternate;
  }
  @keyframes breathing {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(1.2);
    }
  }
  
  #AddButton:hover, .AddButton:hover {
    background-color: white;
    color: black;
    transform: scale(1.2);
  }
  
  .dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .dialog-box {
    background: white;
    padding: 20px;
    border-radius: 5%;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  