/* Color pallete */
/* https://colorhunt.co/palette/0820322c394b334756ff4c29 */

/* ####### */
/* General */
/* ####### */
.App {
  /* display: flex; */
  font-family: 'Roboto Condensed', sans-serif;
}

/* ####### */
/* Sidebar */
/* ####### */
.navbar{
  position: fixed;
  /* width: 100vw; */
}
.navbar-brand img{
  width: 200px;
}
.navbar-toggler{
  border-width: 0.1px;
  border-color: gray;
  transition: border-color 0.3s, transform 0.3s;
}
.navbar-toggler:hover{
  border-color: white;
}
.navbar-toggler img{
  width: 40px;
  height: 40px;
}
.offcanvas{
  background-color: #2C394B;
  width: 350px !important;
  color: white;
}
.offcanvas-title img{
  width: 80%;
}
.active{
  background-color: #082032;
}

/* For less than lg breakpoint */
@media (max-width: 991px){
  .navbar{
    background-color: #334756 !important;
    width: 100vw;
  }
  .content{
    padding-top: 80px !important;
  }
}

/* For more than lg brakpoint */
@media (min-width: 992px){
  .navbar{
    background-color: #334756 !important;
    padding-top: 20px;
  }
  #nav-container{
    display: flex;
    flex-direction: column !important;
    height: 100vh;
    padding: 0;
  }
  .navbar-brand{
    display: inline;
    margin: auto;
  }
  .navbar-brand{
    display: inline;
    margin: auto;
  }
  .navbar-nav{
    display: flex;
    flex-direction: column !important;
    margin-top: 20px;
    align-items: center;
    padding: 0 !important;
  }
  .navbar-nav .nav-link{
    color: white !important;
    font-size: 16pt;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
  .content{
    padding-left: 270px !important;
  }
}

