/* Color pallete */
/* https://colorhunt.co/palette/0820322c394b334756ff4c29 */

/* ####### */
/* General */
/* ####### */
html {
  padding: 0;
  margin: 0;
}
.App {
  font-family: "Roboto Condensed", sans-serif;
}
h1 {
  font-size: 28px;
}
h3 {
  font-size: 24px;
}
p {
  font-size: 16px;
}
.content {
  background-color: #082032;
  color: white;
}

#add-task {
  background-color: #ff4c29;
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}
#add-task div {
  background-color: white;
}
#add-task #vertical {
  width: 10px;
  height: 40px;
  border-radius: 5px;
  position: fixed;
  bottom: 30px;
  right: 45px;
}
#add-task #horizontal {
  width: 40px;
  height: 10px;
  border-radius: 5px;
  position: fixed;
  bottom: 45px;
  right: 30px;
}
#add-task:hover {
  cursor: pointer;
}

/* For less than lg breakpoint */
@media (max-width: 991px) {
  .content {
    padding-top: 100px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
  }
}

/* For more than lg brakpoint */
@media (min-width: 992px) {
  .content {
    padding-left: 220px !important;
    min-height: 100vh;
  }
}

/* ############################################################# */

/* ####### */
/* Sidebar */
/* ####### */
.navbar {
  position: fixed;
  z-index: 9999;
}
.navbar-brand img {
  width: 200px;
}
.navbar-toggler {
  border-width: 0.1px;
  border-color: gray;
  transition: border-color 0.3s, transform 0.3s;
}
.navbar-toggler:hover {
  border-color: white;
}
.navbar-toggler img {
  width: 40px;
  height: 40px;
}
.offcanvas {
  background-color: #334756;
  width: 300px !important;
  color: white;
}
.offcanvas-title img {
  width: 80%;
}
.offcanvas-body {
  padding: 0;
  height: 60%;
}
.offcanvas-body .navbar-nav {
  padding-right: 0 !important;
}
.offcanvas-body .navbar-nav .nav-link {
  padding: 15px 30px;
}
.active {
  background-color: #082032;
}
.filling-space {
  flex-grow: 1;
}

/* For less than lg breakpoint */
@media (max-width: 991px) {
  .navbar {
    background-color: #334756 !important;
    width: 100vw;
  }
}

/* For more than lg brakpoint */
@media (min-width: 992px) {
  .navbar {
    background-color: #334756 !important;
    padding-top: 20px;
  }
  #nav-container {
    display: flex;
    flex-direction: column !important;
    height: 100vh;
    padding: 0;
  }
  .navbar-brand {
    display: inline;
    margin: auto;
  }
  .navbar-brand {
    display: inline;
    margin: auto;
  }
  .navbar-nav {
    display: flex;
    flex-direction: column !important;
    margin-top: 20px;
    align-items: center;
    padding: 0 !important;
  }
  .navbar-nav .nav-link {
    color: white !important;
    font-size: 16pt;
    width: 220px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
  }
}

/* ############################################################# */

/* ########## */
/* TaskModals */
/* ########## */
.modal-label-and-input {
  display: block;
  margin: 5px 0;
}
.modal-label {
  min-width: 90px;
}
.modal-input-full-width {
  width: 300px;
  height: 35px;
  display: inline-block;
}
.modal-footer {
  display: flex;
  justify-content: space-between;
  .btn-primary {
    margin-left: 5px;
  }
}

/* ############################################################# */

/* ##### */
/* Tasks */
/* ##### */

/* 
Icon pack
https://www.flaticon.com/packs/programming-33
https://www.flaticon.com/packs/presentations-10?word=training
*/
.task-main {
  width: 100%;
  min-height: 100vh;
  height: 100%;
  background-color: #082032;
  padding: 50px;
  color: white;
}

#tasks .tasks:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#tasks h1 {
  margin: 10px 0;
}

#tasks .tasks {
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

#tasks .tasks:hover {
  background-color: #f0f0f0;
  transform: scale(1.02);
}

#tasks .tasks:hover .title {
  color: black;
}

#tasks .tasks:hover p {
  color: rgb(84, 84, 84);
}

#tasks .tasks img {
  width: 50px;
  height: 50px;
  margin-left: 15px;
  margin-right: 20px;
  object-fit: contain;
}

#tasks .title {
  margin: 0;
  color: white;
}

#tasks p {
  margin: 5px 0;
  color: #e1e1e1cc;
}

.all-tasks {
  justify-content: space-between;
}

.task-section {
  flex: 1;
  margin: 0 10px;
}

/* For more than lg brakpoint */
@media (min-width: 992px) {
  .all-tasks {
    padding-left: 50px;
  }
}

/* ############################################################# */

/* ###### */
/* Boards */
/* ###### */
#board {
  background-color: #082032;
}
#board .board-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: first start;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin: 10px;
  /* background-color: #2c394b; */
  background-color: #082032;
}
#board .board-status h1 {
  color: white;
  margin: 10px auto;
}
#board .board-status hr {
  width: 100%;
  border: 1px solid white;
}
#board .board-task {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px;
  /* background-color: #345b63; */
  background-color: #2c394b;
  width: 80%;
  cursor: pointer;
  transition: 0.2s;
}
#board .board-task:hover {
  background-color: white;
  h3 {
    color: black;
  }
  p {
    color: rgb(56, 56, 56);
  }
  transform: scale(1.02);
}
#board .board-status .board-tasks-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#board .board-task-title {
  color: white;
}
#board .board-task p {
  margin-bottom: 0;
  color: #e1e1e1cc;
}

/* For less than lg breakpoint */
@media (max-width: 991px) {
  #board {
    padding-top: 100px !important;
    padding-bottom: 30px !important;
  }
  #board .board-status:first-of-type {
    margin-top: 10px;
  }
  #board .board-status {
    margin-top: 30px;
  }
}

/* For more than lg brakpoint */
@media (min-width: 992px) {
  #board .board-all-status {
    padding-top: 30px !important;
    min-height: 100vh;
    display: flex;
    align-items: first start;
    justify-content: center;
  }
  #board .board-status {
    width: 30%;
    height: 90vh;
  }
  #board .board-status .board-tasks-container {
    height: 75vh;
    overflow: auto;
  }
  /* Styling of scrollbar */
  /* Works on Firefox */
  #board .board-status * {
    scrollbar-width: thin;
    scrollbar-color: #082032 gray;
  }
  /* Works on Chrome, Edge, and Safari */
  #board .board-status *::-webkit-scrollbar {
    width: 12px;
  }
  #board .board-status *::-webkit-scrollbar-track {
    background: gray;
    border-radius: 20px;
  }
  #board .board-status *::-webkit-scrollbar-thumb {
    background-color: #082032;
    border-radius: 20px;
    border: 3px solid gray;
  }
}

/* ############################################################# */

/* ######## */
/* Calendar */
/* ######## */
.main-calendar {
  padding: 30px;
  width: 100%;
  min-height: 100vh;
  background-color: #082032;
  color: #e1e1e1cc;
}
.rbc-btn-group button {
  color: white;
}

/* Style of the name of the month */
.rbc-toolbar-label {
  font-weight: bold;
  font-size: 25px;
  color: white;
}

/* Color of top button */
.rbc-toolbar button {
  color: #e1e1e1cc;
  border-color: #e1e1e1cc;
}
.rbc-active {
  color: black !important;
}

/* Border color of calendar */
.rbc-month-view,
.rbc-month-row,
.rbc-day-bg,
.rbc-month-header,
.rbc-row,
.rbc-header,
.rbc-time-slot,
.rbc-timeslot-group,
.rbc-time-view {
  border-color: gray !important;
}

/* Background color of events */
.rbc-event {
  background-color: #345b63;
  color: #e1e1e1cc;
}

/* Background color of agenda */
.rbc-agenda-event-cell,
.rbc-agenda-time-cell,
.rbc-agenda-date-cell {
  background-color: #082032;
}

/* Background color of date from other months */
.rbc-off-range-bg {
  background-color: #2a2a2a !important;
}

/* Color of today */
.rbc-today {
  background-color: #ff4c29 !important;
}
.rbc-now {
  color: black;
}

/* For less than lg breakpoint */
@media (max-width: 991px) {
  #calendar {
    padding-top: 100px !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    min-height: 100%;
  }
}

/* ############################################################# */

/* ##### */
/* login */
/* ##### */

#login {
  text-align: center;
  padding: 100px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    margin-bottom: 30px;
  }
  .form-wrapper {
    width: 40%;
    min-width: 400px;
    padding: 30px 50px 50px;
  }

  form {
    border: 1px solid gray;
    border-radius: 20px;
    .btn-primary {
      margin-top: 20px;
    }
  }
  .btn {
    width: 100% !important;
  }
}
